body { 
    margin: 0px;
    padding: 0px;  
}

div {
    box-sizing: border-box;   
}

img {
  display: block;
  max-width: 100%;
}

.container {
    background-color:hsl(228, 33%, 97%);
    width: 100%;
    margin: 0 auto;
    padding: 9px;
    font-family: 'Rubik', sans-serif;
}

.comment__branch {
    border-left: solid;
    border-color: #9b96962e;
    padding-left: 10px;
    border-width: 2px;
}


.comment {
    width: 100%;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 18px; 
    padding: 14px;
    position: relative;
}

.comment__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.comment__img {
    width: 33px;
    margin-right: 16px;
}

.comment__username {
    font-weight: bold;
    margin-right: 16px;
}

.comment__period {
    color: #9b9696f0;
}

.comment__text {
    color: #9b9696f0;
    font-size: 16px;
    line-height: 24px;
}

.comment__gradeButton {
    border: none;
}

.comment__gradeButton > button {
    border: none;
    background: none;
    z-index: 2;
}

.comment__grade {
    border: none;
    background-color: hsl(228, 33%, 97%);
    width: 75px;
    padding: 11px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    opacity: 0.6;
}

.comment__gradeButton {
    position: relative;
}

.gradeButton__less {
    position: absolute;
    top: 49%;
    left: 71px;
}

.gradeButton__more {
    position: absolute;
    top: 34.5%;
    left: 10px;
}

.comment__gradeAndButton {
    display: flex;
    border: none;
    background: none;
    color:  hsl(238, 40%, 52%);
    font-weight: bold;
    align-items: center;
    font-size: 16px;
    position: absolute;
    right: 3%;
    bottom: 13%;
}

.comment__gradeAndButton--delete {
    color: hsl(358, 79%, 66%);
    right: 23%;
}

.comment__gradeAndButton > img {
    margin-right: 6px;
    width: 14px;
}

.comment__responseNickname {
    font-weight: bold;
    color: hsl(238, 40%, 52%);
    
}

.comment__youTag {
    border: none;
    background-color:hsl(238, 40%, 52%) ;
    color: white;
    font-family: 'Rubik', sans-serif;
    border-radius: 1px;
    font-size: 12px;
    padding: 3px 9px;
    margin-right: 16px;
}

.container__leaveAComment {
    width: 100%;
    background-color: white;
    border-radius: 12px;
    padding: 19px;
}

.container__userField {
    box-sizing: border-box;
    width: 100%;
    height: 95px; 
    padding: 14px;
    border-color: #9b96962e;
    border-radius: 10px;
    border-width: 1px;
    text-align: start;
    font-size: 16px;
    margin-bottom: 18px;
    font-family: 'Rubik', sans-serif;
    color: hsl(223deg 9.1% 78.57%);
    resize: none;
}

.container__yourImg > img {
    width: 31px;
}

.container__send {
    width: 104px;
    border: none;
    background-color: hsl(238, 40%, 52%) ;
    color: white;
    padding: 16px;
    border-radius: 10px;
    font-weight: bold;
    justify-self: end;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
 }

 .container__leaveAComment {
    display: grid;
    grid-template-columns: 10fr 3fr ;
    grid-template-rows: 0.1fr;
    grid-template-areas: "userField userField"
                         "avatar button" ;
}

.container__yourImg {
    grid-area: avatar;
}

.container__userField {
    grid-area: userField;
}

.container__send {
    grid-area: button;
}

 @media only screen and (min-width: 700px) {
    .comment {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 0.2fr 0.1fr;
        grid-template-areas: "button header reply"
                                "button text text";
        margin-bottom: 22px;
    }

    .comment__gradeButton {
        grid-area: button;
        align-self: start;
    }

    .comment__header {
        grid-area: header;
    }

    .comment__gradeAndButton--reply {
        grid-area: reply;
        right: 17%;
        bottom: 14%;
    }

    .comment__text {
        grid-area: text;
    }

    .comment__grade {
        width: 43px;
        padding: 41px 0px;
    }

    .gradeButton__less {
        top: 70%;
        left: 10px;
    }
    
    .gradeButton__more {
        top: 22%;
        left: 10px;
    }

    .comment__branch {
        margin-left: 40px;
        padding-left: 43px;
    }

    .comment__gradeAndButton--delete {
        grid-area: reply;
        right: 168%;
        bottom: 19%;
    }

    .comment__gradeAndButton--edit {
        grid-area: reply;
        right: 38%;
        bottom: 20%;
    }

    .container__leaveAComment {
        display: grid;
        grid-template-columns: 1fr 7fr 2fr;
        grid-template-rows: 0.1fr;
        grid-template-areas: "avatar userField button";
        padding: 25px;
    }

    .container__userField {
        grid-area: userField;
        justify-self: center;
    }

    .container__send {
        grid-area: button;
        height: 50px;
        justify-self: end;
    }

    .container__yourImg {
        grid-area: avatar;
        justify-self: center;
    }
 }
